* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    margin-right: 32px;
    margin:16px;
}

body{
    background-color: #F3F5FC;
}

button{
    padding: 24px;
    width: 328px;
    height: 67px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    border-radius: 24px;
    border: none; /* Removida a borda padrão */
}

textarea{
    border: none;
    font-size: 2rem;
    width: 90%;
    height: 80%;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #a80f0f;
    height: 100vh;

}

.main__container{
    display: flex;
    flex-direction: column;
    border: 2px solid #fd0303;
    margin: 4rem;
    height: 90%;
    width: 40%;
}

.input__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60%;
    width: 90%;
    margin: 2rem;
    border: 2px solid #05ee95;
}

.buttons__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    gap: 32px;
    margin: 1rem;
    height: 15%;
    border: 2px solid #ecd505;
}

.button__copiar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin: 1rem;
    border: 2px solid #ecd505;
}

.mensagem__cantainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 32px;
    height: 95%;
    width: 25%;
    margin: 4rem;
    border: 2px solid #4503f8;
}

p{

}

.alert__container{
    margin-left: 8%;
    border: 2px solid #4503f8;
}
.alert__txt{
    font-size: 12;
    margin-left: 4%;
}

.msg__txt{
    display: flex;
    flex-direction: column;
    border: 2px solid #4503f8;
    margin: 6rem;
    margin-top: 40%;
    height: 40%;
    overflow-wrap: break-word;
    white-space: normal; /* Garante que o texto possa quebrar em várias linhas */
    max-width: 100%;
    font-size: 24px;
}

#copiar{
    display: none;
}

#lupa{
    height: auto;
    width: auto;
}

