* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    margin-right: 32px;
    margin:20px;
}

body{
    background-color: #F3F5FC;
}

button{
    padding: 24px;
    width: 328px;
    height: 67px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    border-radius: 24px;
}
#btCripto{
    background-color: #0A3871;
    color: white;
    border: none;
}

::placeholder {
    color: #0A3871; /* Define a cor do placeholder */
}
textarea{
    border: none;
    resize: none;
    outline: none;
    background-color: #F3F5FC;
    color: #0A3871;
    font-size: 2rem;
    width: 90%;
    height: 80%;
    margin-left: 4%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

}

.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem;
    height: 90%;
    width: 40%;
}

.input__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60%;
    width: 90%;
}

.buttons__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 32px;
    height: 15%;
}

.button__copiar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin: 1rem;

}

.mensagem__cantainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 32px;
    height: 95%;
    width: 25%;
    margin: 4rem;

}

.alert__container{
    margin-top: 12%;
    margin-left: 6%;

}
.alert__txt{
    font-size: 12;
    margin-left: 6%;
    margin-bottom: 1%;
}

.msg__txt{
    display: flex;
    flex-direction: column;
    color: #495057;
    margin: 6rem;
    margin-top: 40%;
    height: 40%;
    overflow-wrap: break-word;
    white-space: normal; /* Garante que o texto possa quebrar em várias linhas */
    max-width: 100%;
    font-size: 16px;
}

.msg__txt strong{
    font-size: 24px;
}

#copiar{
    display: none;
}

#lupa{
    height: auto;
    width: auto;
}

